{% extends 'base.html' %}

{% block main %}
<section class="jumbotron text-center">
    <div class="container">
      <h1>Student Loan Calculator</h1>
      <p class="lead text-muted"></p>

    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Student Loan Calculator
                </div>
                <div class="card-body">
                    <form action="/calc" method="POST">
                        <label for="pa">Present Value:</label>
                        <input type="text" id="pv" name="present_value">
                    
                        <br>
                    
                        <label for="i">Interest Rate:</label>
                        <input type="text" id="i" name="interest">
                    
                        <br>
                    
                        <label for="years">Years to Pay off in:</label>
                        <input type="text" id="years" name="years">
                    
                        <br>
                        <br>
                    
                        <button type="submit" class="btn btn-primary">Calculate</button>
                    
                    
                    </form>
                </div>
            </div>

        </div>
       
      </div>
    </div>
  </div>
{% endblock %}