{% extends 'base.html' %}

{% block main %}
<section class="jumbotron text-center">
    <div class="container">
      <h1>LU Technology & Engineering Club 2020 Meeting 1</h1>
      <p class="lead text-muted">Web Application & Tool Development with Python</p>
      <p>
        <!-- <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
       
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-header"><h3>Meeting 1 Prototype</h3></div>
            <div class="card-body">
              <p class="card-text">This Web Application Explores the fundementals of developing web application in python using the Flask framework.</p>
              <div class="d-flex justify-content-between align-items-center">
                  <a type="button" class="btn btn btn-primary" href="/calc">Launch Prototype</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-header"><h3>Meeting 2 Prototype</h3></div>
              <div class="card-body">
                <p class="card-text">TBC</p>
                <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn btn-primary disabled">Launch Prototype</button>
                </div>
              </div>
            </div>
          </div>

          
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-header"><h3>Meeting 3 Prototype</h3></div>
              <div class="card-body">
                <p class="card-text">TBC</p>
                <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn btn-primary disabled">Launch Prototype</button>
                </div>
              </div>
            </div>
          </div>
  

       
      </div>
    </div>
  </div>
{% endblock %}